main#all-content {
  background-color: #FFF;
}
main#all-content h2, main#all-content h3 {
  font-weight: 500 !important;
  color: #333 !important;
}
main#all-content i.fab.fa-google-play,
main#all-content i.fab.fa-apple {
  color: #A2D039;
}
main#all-content a:hover i.fab {
  color: #C5E282;
}
