nav.footer {
  position: absolute;
  width: 100%;
  max-width: 1024px;
  bottom: 0;
}
nav.footer footer {
  background-color: #7B7283;
  box-shadow: 8px -8px 8px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  height: 88px;
  max-width: 1024px;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
nav.footer footer section.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 1rem;
  margin: auto;
}
nav.footer footer section.footer-nav p.footer-nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #F7F7F2;
  line-height: 1.25rem;
  text-align: center;
  margin: auto;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 74px;
  height: 74px;
  background-image: radial-gradient(circle at top left, rgba(255, 255, 255, 0.4), rgba(128, 128, 128, 0.05), rgba(128, 128, 128, 0.3));
}
nav.footer footer section.footer-nav p.footer-nav-link a:link, nav.footer footer section.footer-nav p.footer-nav-link a:visited, nav.footer footer section.footer-nav p.footer-nav-link a:active {
  color: #F7F7F2 !important;
  margin: auto;
}
nav.footer footer section.footer-nav p.footer-nav-link:hover {
  background-image: radial-gradient(circle at center, rgba(128, 128, 128, 0.4), rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.3));
  color: #ccc !important;
}
nav.footer footer section.footer-nav p.footer-nav-link:hover a:link {
  color: #ccc !important;
}
nav.footer footer section.footer-nav p.footer-nav-link i {
  font-size: 1.75rem;
  margin: auto;
}
nav.footer footer section.footer-nav p.footer-nav-link span {
  margin: auto;
}
@media screen and (min-width: 1024px) {
  nav.footer footer section.footer-nav#footer-home {
    margin-left: 60px;
    margin-right: -30px;
  }
}
@media screen and (min-width: 1024px) {
  nav.footer footer section.footer-nav#footer-melp {
    margin-right: -30px;
  }
}
@media screen and (min-width: 1024px) {
  nav.footer footer section.footer-nav#footer-email {
    margin-left: -30px;
  }
}
@media screen and (min-width: 1024px) {
  nav.footer footer section.footer-nav#footer-all {
    margin-right: 60px;
    margin-left: -30px;
  }
}
