article.footer {
  position: absolute;
  width: 100%;
  max-width: 1024px;
  bottom: 0;
  z-index: 20;
  background-color: #333333;
}
@media screen and (max-width: 767px) {
  article.footer {
    display: none;
  }
}
article.footer footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  height: 40px;
  max-width: 1024px;
  margin-right: 0 !important;
  margin-left: 0 !important;
  background-color: #333333;
}
article.footer footer a {
  color: #F7F7F2 !important;
  letter-spacing: 0.1rem;
  font-size: 0.875rem;
}
