main#page {
  background-color: #39D08A;
  margin: 0;
  padding: 0;
  height: inherit;
  width: 100%;
}

article.why-invest {
  /* z-index:10;
  display:relative; */
}
article.why-invest Figure {
  position: relative;
  z-index: 10;
  margin: auto;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 334px;
  height: 199px;
  background-color: #DDDDDD;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width: 374px) {
  article.why-invest Figure {
    width: 270px;
    height: 130px;
  }
}
@media screen and (min-width: 768px) {
  article.why-invest Figure {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 250px;
    width: 452px;
    height: 305px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  article.why-invest Figure {
    width: 350px;
    height: 235px;
  }
}

ul.options-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-left: 0;
}
ul.options-list li {
  width: 141px;
  height: 255px;
  z-index: 0;
  background-color: #F5F5F8;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
  list-style-type: none;
  list-indent: none;
  margin: -25px 15px 20px 15px;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-height: 667px) {
  ul.options-list li {
    height: 215px;
  }
}
ul.options-list li:hover {
  transform: translateY(15px);
  transition: 0.15s linear;
  cursor: pointer;
}
ul.options-list li:hover > div.circle {
  transform: translateY(0) !important;
  transition: none 0 linear 0 !important;
  position: absolute !important;
  top: -138px !important;
}
ul.options-list li:hover > div.bottom {
  background-color: #FAD551;
}
ul.options-list li p {
  margin-top: 25px;
}
ul.options-list li div.bottom {
  background: #FAD551;
  position: absolute;
  transform: translate(0, 159px);
  -webkit-transform: translate(0, 159px);
  -moz-transform: translate(0, 159px);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
  height: 70.5px;
  width: 141px;
  border-bottom-left-radius: 141px;
  border-bottom-right-radius: 141px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-height: 667px) {
  ul.options-list li div.bottom {
    transform: translate(0, 140px);
    -webkit-transform: translate(0, 140px);
    -moz-transform: translate(0, 140px);
  }
}
ul.options-list li div.bottom span {
  margin-top: -8px;
}
ul.options-list div.circle {
  display: none;
}
@media screen and (min-width: 768px) {
  ul.options-list {
    margin-top: 178px;
  }
  ul.options-list div.circle {
    display: block;
    z-index: 11;
    width: 173px;
    height: 173px;
    position: absolute;
    top: 158px;
    background-color: #F5F5F8;
    border: 4px solid #FCFCFC;
    border-radius: 50%;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
  }
  ul.options-list div.circle div.sec-hand {
    height: 62px;
    width: 5px;
    background-color: #9D95A2;
  }
  ul.options-list div.circle div.min-hand {
    height: 44px;
    width: 5px;
    background-color: #707070;
  }
  ul.options-list div.circle.clock-left div.triangle-1 {
    height: 0;
    width: 0;
    border-top: 94px solid #FAD551;
    border-left: 47px solid transparent;
    border-right: 47px solid transparent;
    clip-path: polygon(50% 0%, 44% 99%, 69% 4%);
    transform: translate(35px, 0);
  }
  ul.options-list div.circle.clock-left div.sec-hand {
    transform: translate(77px, -71px) rotate(2deg);
  }
  ul.options-list div.circle.clock-left div.min-hand {
    transform: translate(82px, -115px) rotate(14deg);
  }
  ul.options-list div.circle.clock-right div.triangle-1 {
    height: 0;
    width: 0;
    border-top: 94px solid #FAD551;
    border-left: 47px solid transparent;
    border-right: 47px solid transparent;
    clip-path: polygon(50% 0%, 44% 99%, 85% 8%);
    transform: translate(35px, 0);
  }
  ul.options-list div.circle.clock-right div.triangle-2 {
    height: 0;
    width: 0;
    border-top: 94px solid #FAE495;
    border-left: 47px solid transparent;
    border-right: 47px solid transparent;
    clip-path: polygon(50% 0%, 44% 99%, 85% 8%);
    transform: translate(50px, -90px) rotate(20deg);
  }
  ul.options-list div.circle.clock-right div.sec-hand {
    transform: translate(77px, -165px) rotate(2deg);
  }
  ul.options-list div.circle.clock-right div.min-hand {
    transform: translate(92px, -202px) rotate(50deg);
  }
  ul.options-list div.circle:first-of-type {
    left: 55px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  ul.options-list div.circle:first-of-type {
    left: auto;
    margin-left: -575px;
  }
}
@media screen and (min-width: 768px) {
  ul.options-list div.circle:last-of-type {
    right: 55px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  ul.options-list div.circle:last-of-type {
    right: auto;
    margin-right: -575px;
  }
}
@media screen and (min-width: 768px) {
  ul.options-list li:first-of-type {
    margin-right: 300px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  ul.options-list li:first-of-type {
    margin-right: 220px;
  }
}
@media screen and (min-width: 768px) {
  ul.options-list li:last-of-type {
    margin-left: 300px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  ul.options-list li:last-of-type {
    margin-left: 220px;
  }
}
