main#page {
  background-color: #39D08A;
  margin: 0;
  padding: 0;
  height: inherit;
  width: 100%;
}

article.why-invest {
  /* z-index:10;
  display:relative; */
}
article.why-invest Figure {
  position: relative;
  z-index: 10;
  margin: auto;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 334px;
  height: 199px;
  background-color: #FCFCFC;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width: 374px) {
  article.why-invest Figure {
    width: 270px;
    height: 130px;
  }
}

ul.options-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-left: 0;
}
ul.options-list li {
  width: 141px;
  height: 247px;
  z-index: 0;
  background-color: #F5F5F8;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
  list-style-type: none;
  list-indent: none;
  margin: -20px 15px 20px 15px;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-height: 667px) {
  ul.options-list li {
    height: 215px;
  }
}
ul.options-list li:hover {
  transform: translateY(18px);
  transition: 0.15s linear;
  cursor: pointer;
}
ul.options-list li:hover > div.bottom {
  background-color: #FAD551;
}
ul.options-list li div.bottom {
  background: #FAD551;
  position: absolute;
  transform: translate(0, 159px);
  -webkit-transform: translate(0, 159px);
  -moz-transform: translate(0, 159px);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
  height: 70.5px;
  width: 141px;
  border-bottom-left-radius: 141px;
  border-bottom-right-radius: 141px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-height: 667px) {
  ul.options-list li div.bottom {
    transform: translate(0, 140px);
    -webkit-transform: translate(0, 140px);
    -moz-transform: translate(0, 140px);
  }
}
ul.options-list li div.bottom span {
  margin-top: -10px;
}
