article.component-content.mobile-app {
  margin: auto;
}
@media screen and (max-width: 767px) {
  article.component-content.mobile-app {
    height: 250px;
  }
}
article.component-content.mobile-app .img-container {
  display: flex;
}
article.component-content.mobile-app .img-container .img-holder {
  border-radius: 30px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.16);
  width: 109px;
  height: 109px;
}
article.component-content.mobile-app .img-container .img-holder img.app-icons {
  width: 109px;
  height: 109px;
}
@media screen and (max-width: 767px) {
  article.component-content.mobile-app .img-container {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  article.component-content.mobile-app .img-container {
    justify-content: flex-start;
    padding: 0;
  }
}
article.component-content.mobile-app .about-mobile-app {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  article.component-content.mobile-app .about-mobile-app .mobile-app-title span.type::after {
    content: "\a";
    white-space: pre;
  }
}
@media screen and (max-width: 767px) {
  article.component-content.mobile-app .about-mobile-app.dropdown-start {
    background-color: #53AA81;
    background: linear-gradient(329deg, #50A862 0%, #52B788 100%);
    padding: 16px 0 0 0;
    border-radius: 0 0 20px 20px;
    position: relative;
    z-index: 1;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
    margin: 18px auto 0 auto;
    max-width: 200px;
  }
  article.component-content.mobile-app .about-mobile-app.dropdown-start .mobile-app-descr {
    display: none;
  }
  article.component-content.mobile-app .about-mobile-app.dropdown-start .expand {
    height: 48px;
    border-radius: 0 0 20px 20px;
    background-color: rgba(133, 183, 82, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
    max-width: 200px;
  }
}
@media screen and (max-width: 767px) {
  article.component-content.mobile-app .about-mobile-app {
    justify-content: center;
    text-align: center;
  }
  article.component-content.mobile-app .about-mobile-app .mobile-app-descr.dropdown-start {
    background-color: #53AA81;
    background: linear-gradient(329deg, #50A862 0%, #52B788 100%);
    padding: 16px 0 0 0;
    border-radius: 0 0 20px 20px;
    position: relative;
    z-index: 1;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
    margin: 18px auto 0 auto;
    padding: 16px 16px 16px 16px;
    max-width: 200px;
    height: 160px;
  }
  article.component-content.mobile-app .about-mobile-app .mobile-app-descr.dropdown-start > .expand {
    height: 48px;
    border-radius: 0 0 20px 20px;
    background-color: rgba(133, 183, 82, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    max-width: 200px;
    z-index: 3;
  }
}
@media screen and (min-width: 768px) {
  article.component-content.mobile-app .about-mobile-app .mobile-app-descr {
    background-color: #53AA81;
    background: linear-gradient(329deg, #50A862 0%, #52B788 100%);
    padding: 16px 0 0 0;
    border-radius: 0 0 20px 20px;
    position: relative;
    z-index: 1;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
    padding: 16px 16px;
    max-width: 481px;
    margin-top: 2px;
    height: 124px;
  }
  article.component-content.mobile-app .about-mobile-app .expand {
    height: 48px;
    border-radius: 0 0 20px 20px;
    background-color: rgba(133, 183, 82, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 481px;
    margin-top: -47px;
    position: relative;
    z-index: 5;
  }
}
@media screen and (min-width: 768px) {
  article.component-content.mobile-app {
    height: 164px !important;
  }
}

div#root {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333333;
  min-height: 100vh;
  position: relative;
}
div#root section#app {
  max-width: 1024px;
  margin: 0 auto;
  background-color: #554C58;
  background: linear-gradient(329deg, #998fa0 0%, #554c58 60%, #554c58 100%);
  overflow-y: auto;
  min-height: 100vh;
  position: relative;
}
div#root section#app h1, div#root section#app h2, div#root section#app h3 {
  color: #F7F7F2;
  text-align: center;
}
div#root section#app h4, div#root section#app h5, div#root section#app h6 {
  color: #000;
  font-weight: 700;
}
div#root section#app h2.subtitle {
  font-size: 1.5rem;
  margin-top: -20px;
  margin-bottom: 15px;
}
div#root section#app h3 {
  font-size: 1.375rem;
}
div#root section#app h4 {
  font-size: 1.25rem;
}
div#root section#app h5, div#root section#app h6 {
  font-size: 1.125rem;
}
div#root section#app a:link, div#root section#app a {
  color: #000;
}
div#root section#app a:link:focus, div#root section#app a:link:hover, div#root section#app a:link:visited, div#root section#app a:link:link, div#root section#app a:link:active, div#root section#app a:focus, div#root section#app a:hover, div#root section#app a:visited, div#root section#app a:link, div#root section#app a:active {
  text-decoration: none;
}
div#root section#app .text-center {
  text-align: center;
}
div#root section#app .fw-semibold {
  font-weight: 500;
}
div#root section#app .fw-medium {
  font-weight: 600;
}
div#root section#app .fw-bold {
  font-weight: 700;
}
div#root section#app code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
div#root section#app main.content-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
div#root section#app main.content-page section.bordered {
  border: 5px solid #ccc;
  border-radius: 20px;
  background-color: #847C88;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
  margin-left: 34px;
  margin-right: 34px;
  width: 90%;
}
@media screen and (max-width: 400px) {
  div#root section#app main.content-page section.bordered {
    max-width: 306px;
  }
}
@media screen and (max-width: 767px) {
  div#root section#app main.content-page section.bordered {
    padding: 21px;
  }
}
@media screen and (min-width: 768px) {
  div#root section#app main.content-page section.bordered {
    padding: 24px;
  }
}
@media screen and (min-width: 1024px) {
  div#root section#app main.content-page section.bordered {
    width: 748px;
  }
}
div#root section#app main.content-page section.bordered.all-container {
  border-color: #92B96A;
}
div#root section#app main.content-page section.bordered.active-container {
  border-color: #C59139;
}
div#root section#app main.content-page section.bordered.passive-container {
  border-color: #53AA81;
}
div#root section#app main.content-page .component-content {
  background-color: #CAC4CE;
  border: 3px solid #CCC;
  border-radius: 20px;
  width: 100%;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
  padding: 24px;
}
@media screen and (max-width: 767px) {
  div#root section#app main.content-page .component-content {
    padding: 6px;
  }
}
div#root section#app main.content-page .page-description {
  color: #F7F7F2;
}

ul.need-to-know.list {
  list-style-type: none;
  padding-left: 0;
}
ul.need-to-know.list li {
  display: flex;
  align-items: center;
  border-top: 3px solid rgba(0, 0, 0, 0.16);
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (max-width: 767px) {
  ul.need-to-know.list li {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  ul.need-to-know.list li {
    flex-direction: row;
  }
}
ul.need-to-know.list li p {
  margin-top: 5px;
}
@media screen and (max-width: 767px) {
  ul.need-to-know.list li p {
    margin-top: 20px;
  }
}
ul.need-to-know.list li p a.link {
  color: #52B788 !important;
  margin-left: 10px;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}
ul.need-to-know.list li p a.link:hover {
  color: #85B752 !important;
}
ul.need-to-know.list li p a {
  color: #52B788 !important;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}
ul.need-to-know.list li p a:hover {
  color: #85B752 !important;
}
ul.need-to-know.list li img {
  width: 100%;
  float: none;
}
@media screen and (max-width: 767px) {
  ul.need-to-know.list li img {
    margin-top: 0;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 768px) {
  ul.need-to-know.list li img {
    float: right;
    width: 250px;
    padding: 10px 0 10px 10px;
  }
}
ul.need-to-know.list li ul.sublist {
  display: inline;
}
ul.need-to-know.list li ul.sublist li {
  border: 0;
}
ul.need-to-know.list li ul.sublist li:first-of-type {
  margin-top: -20px;
}
@media screen and (max-width: 767px) {
  ul.need-to-know.list li ul.sublist li:first-of-type {
    margin-top: -40px;
  }
}
ul.need-to-know.list .listImgStyle {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  align-items: center;
}
@media screen and (max-width: 767px) {
  ul.need-to-know.list .listImgStyle {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  ul.need-to-know.list .listImgStyle {
    flex-direction: row;
  }
}
