article.component-content.mobile-app {
  margin: auto;
}
@media screen and (max-width: 767px) {
  article.component-content.mobile-app {
    height: 250px;
  }
}
article.component-content.mobile-app .img-container {
  display: flex;
}
article.component-content.mobile-app .img-container .img-holder {
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 109px;
  height: 109px;
}
article.component-content.mobile-app .img-container .img-holder img.app-icons {
  width: 109px;
  height: 109px;
}
article.component-content.mobile-app .img-container .img-holder img.app-icons:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}
@media screen and (max-width: 767px) {
  article.component-content.mobile-app .img-container {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  article.component-content.mobile-app .img-container {
    justify-content: flex-start;
    padding: 0;
  }
}
article.component-content.mobile-app .about-mobile-app {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  article.component-content.mobile-app .about-mobile-app .mobile-app-title span.type::after {
    content: "\a";
    white-space: pre;
  }
}
@media screen and (min-width: 768px) {
  article.component-content.mobile-app .about-mobile-app .mobile-app-title:hover {
    cursor: pointer;
  }
}
@media screen and (max-width: 767px) {
  article.component-content.mobile-app .about-mobile-app.dropdown-start {
    background-color: #A2D039;
    padding: 16px 0 0 0;
    border-radius: 0 0 20px 20px;
    position: relative;
    z-index: 9;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
    margin: 18px auto 0 auto;
    max-width: 240px;
  }
  article.component-content.mobile-app .about-mobile-app.dropdown-start.opened {
    height: 340px;
  }
  article.component-content.mobile-app .about-mobile-app.dropdown-start.opened .expand {
    margin-top: -15px;
  }
  article.component-content.mobile-app .about-mobile-app.dropdown-start .mobile-app-descr.closed {
    display: none;
  }
  article.component-content.mobile-app .about-mobile-app.dropdown-start .mobile-app-descr.opened {
    display: block;
    padding: 0 10px;
  }
  article.component-content.mobile-app .about-mobile-app.dropdown-start .mobile-app-descr.opened div.cost {
    padding: 10px 5px;
  }
  article.component-content.mobile-app .about-mobile-app.dropdown-start .mobile-app-descr.opened div.cost div.get-app {
    display: block;
  }
  article.component-content.mobile-app .about-mobile-app.dropdown-start .mobile-app-descr.opened div.cost div.get-app span.hide-xs {
    display: none;
  }
  article.component-content.mobile-app .about-mobile-app.dropdown-start .expand {
    height: 48px;
    border-radius: 0 0 20px 20px;
    background-color: #C5E282;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
    max-width: 240px;
  }
  article.component-content.mobile-app .about-mobile-app.dropdown-start .expand:hover {
    cursor: pointer;
  }
  article.component-content.mobile-app .about-mobile-app.dropdown-start.active-color {
    background-color: #FAD551;
  }
  article.component-content.mobile-app .about-mobile-app.dropdown-start.active-color .expand {
    background-color: #FAE495;
  }
  article.component-content.mobile-app .about-mobile-app.dropdown-start.passive-color {
    background-color: #5DD4CF;
  }
  article.component-content.mobile-app .about-mobile-app.dropdown-start.passive-color .expand {
    background-color: #7FE6E2;
  }
}
@media screen and (max-width: 767px) {
  article.component-content.mobile-app .about-mobile-app {
    justify-content: center;
    text-align: center;
  }
  article.component-content.mobile-app .about-mobile-app .mobile-app-descr.dropdown-start {
    background-color: #A2D039;
    padding: 16px 0 0 0;
    border-radius: 0 0 20px 20px;
    position: relative;
    z-index: 9;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
    margin: 18px auto 0 auto;
    padding: 16px 16px 16px 16px;
    max-width: 240px;
    height: 160px;
  }
  article.component-content.mobile-app .about-mobile-app .mobile-app-descr.dropdown-start.active-color {
    background-color: #FAD551;
  }
  article.component-content.mobile-app .about-mobile-app .mobile-app-descr.dropdown-start.passive-color {
    background-color: #5DD4CF;
  }
  article.component-content.mobile-app .about-mobile-app .mobile-app-descr.dropdown-start > .expand {
    height: 48px;
    border-radius: 0 0 20px 20px;
    background-color: #C5E282;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    max-width: 240px;
    z-index: 14;
  }
  article.component-content.mobile-app .about-mobile-app .mobile-app-descr.dropdown-start.active-color > .expand {
    background-color: #FAE495;
  }
  article.component-content.mobile-app .about-mobile-app .mobile-app-descr.dropdown-start.passive-color > .expand {
    background-color: #7FE6E2;
  }
}
@media screen and (min-width: 768px) {
  article.component-content.mobile-app .about-mobile-app .expand {
    height: 48px;
    border-radius: 0 0 20px 20px;
    background-color: #C5E282;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 481px;
    margin-top: -49px;
    position: relative;
    z-index: 11;
  }
  article.component-content.mobile-app .about-mobile-app .expand:hover {
    cursor: pointer;
  }
  article.component-content.mobile-app .about-mobile-app .expand.active-color {
    background-color: #FAE495;
  }
  article.component-content.mobile-app .about-mobile-app .expand.passive-color {
    background-color: #7FE6E2;
  }
  article.component-content.mobile-app .about-mobile-app .mobile-app-descr {
    background-color: #A2D039;
    padding: 16px 0 0 0;
    border-radius: 0 0 20px 20px;
    position: relative;
    z-index: 9;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
    padding: 16px 16px;
    max-width: 481px;
    margin-top: 2px;
    height: 124px;
  }
  article.component-content.mobile-app .about-mobile-app .mobile-app-descr.active-color {
    background-color: #FAD551;
  }
  article.component-content.mobile-app .about-mobile-app .mobile-app-descr.passive-color {
    background-color: #5DD4CF;
  }
}
@media screen and (min-width: 768px) {
  article.component-content.mobile-app {
    height: 164px !important;
  }
}
article.component-content.mobile-app div.price {
  font-size: 1rem;
  text-align: center;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.16);
}
@media screen and (min-width: 768px) {
  article.component-content.mobile-app div.price {
    margin: 15px -15px 0 -15px;
  }
}
@media screen and (max-width: 767px) {
  article.component-content.mobile-app div.price {
    margin: 8px -10px;
  }
}
article.component-content.mobile-app div.price div.cost {
  padding: 10px 0;
}
article.component-content.mobile-app div.get-app {
  text-align: center;
  padding: 10px;
}
@media screen and (max-width: 767px) {
  article.component-content.mobile-app div.get-app {
    margin: 10px 0 0 0;
  }
}
@media screen and (min-width: 768px) {
  article.component-content.mobile-app div.get-app {
    margin: 15px 0 0 0;
  }
}
article.component-content.mobile-app div.get-app span {
  color: #065241;
  font-size: 1.125rem;
}
article.component-content.mobile-app div.get-app span:hover {
  cursor: pointer;
  color: white;
}
article.component-content.mobile-app div.get-app span:hover span {
  color: white;
}

body {
  overflow-y: scroll;
}

div#root {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7F7F7;
  min-height: 100vh;
  position: relative;
}
div#root section#app {
  max-width: 1024px;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
div#root section#app h1 {
  font-size: 2rem;
  font-weight: 700 !important;
  color: #333;
}
@media screen and (min-width: 768px) {
  div#root section#app h1 {
    text-align: left;
  }
}
@media screen and (max-width: 767px) {
  div#root section#app h1 {
    text-align: center;
  }
}
div#root section#app h2 {
  color: #F7F7F2;
  font-size: 1.4rem;
}
div#root section#app h2.page-title {
  text-align: center;
}
div#root section#app h3, div#root section#app h4, div#root section#app h5, div#root section#app h6 {
  color: #333;
  font-weight: 700;
}
div#root section#app h3 {
  font-size: 1.3rem;
}
div#root section#app h4 {
  font-size: 1.2rem;
}
div#root section#app h5, div#root section#app h6 {
  font-size: 1.15rem;
}
@media screen and (max-width: 767px) {
  div#root section#app h5, div#root section#app h6 {
    margin-top: 8px;
  }
}
div#root section#app a:link, div#root section#app a {
  color: #333;
}
div#root section#app a:link:focus, div#root section#app a:link:hover, div#root section#app a:link:visited, div#root section#app a:link:link, div#root section#app a:link:active, div#root section#app a:focus, div#root section#app a:hover, div#root section#app a:visited, div#root section#app a:link, div#root section#app a:active {
  text-decoration: none;
}
div#root section#app .text-center {
  text-align: center;
}
div#root section#app .fw-semibold {
  font-weight: 500;
}
div#root section#app .fw-medium {
  font-weight: 600;
}
div#root section#app .fw-bold {
  font-weight: 700;
}
div#root section#app .xs {
  font-size: 80%;
}
@media screen and (max-width: 767px) {
  div#root section#app .hide-on-desktop {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  div#root section#app .hide-on-desktop {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  div#root section#app .hide-on-mobile {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  div#root section#app .hide-on-mobile {
    display: block;
  }
}
div#root section#app section.top {
  position: relative;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.14);
}
@media screen and (min-width: 768px) {
  div#root section#app section.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (max-width: 767px) {
  div#root section#app section.mobile-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky !important;
  }
  div#root section#app section.mobile-nav nav.navigation {
    box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.16);
  }
}
div#root section#app code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
div#root section#app main {
  padding-top: 20px;
  flex-grow: 2;
}
div#root section#app main.content-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
div#root section#app main.content-page section.content-container {
  border-radius: 20px;
  background-color: rgba(51, 51, 51, 0.05);
  margin-left: 34px;
  margin-right: 34px;
  width: 88%;
}
@media screen and (max-width: 400px) {
  div#root section#app main.content-page section.content-container {
    max-width: 350px;
  }
}
@media screen and (max-width: 767px) {
  div#root section#app main.content-page section.content-container {
    padding: 16px;
  }
}
@media screen and (min-width: 768px) {
  div#root section#app main.content-page section.content-container {
    padding: 20px 24px;
  }
}
@media screen and (min-width: 1024px) {
  div#root section#app main.content-page section.content-container {
    width: 635px;
  }
}
div#root section#app main.content-page section.content-container.all-container {
  border-color: #92B96A;
  padding-bottom: 35px;
}
div#root section#app main.content-page section.content-container.active-container {
  border-color: #C59139;
  padding-bottom: 35px;
}
div#root section#app main.content-page section.content-container.passive-container {
  border-color: #53AA81;
  padding-bottom: 35px;
}
div#root section#app main.content-page .component-content {
  background-color: #F5F5F8;
  border-radius: 20px;
  width: 120%;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
  padding: 24px;
  position: relative;
  margin-left: -10%;
}
@media screen and (max-width: 767px) {
  div#root section#app main.content-page .component-content {
    padding: 16px;
  }
}
div#root section#app main.content-page .page-description {
  color: #333;
  padding: 0 20px;
  margin-top: -5px;
  text-align: center;
  max-width: 748px;
}
@media screen and (max-width: 767px) {
  div#root section#app main.content-page .page-description {
    padding: 0;
  }
}
div#root section#app main.content-page #toggle-mobile-apps:hover,
div#root section#app main.content-page #toggle-needtoknow:hover,
div#root section#app main.content-page #needtoknow-header:hover {
  cursor: pointer;
}

#need-to-know.passive-border {
  border: 5px solid #5DD4CF;
}
#need-to-know.active-border {
  border: 5px solid #FAD551;
}
@media screen and (min-width: 768px) {
  #need-to-know section.need-to-know {
    margin-bottom: -5px;
  }
}

ul.need-to-know.list {
  list-style-type: none;
  padding-left: 0;
}
ul.need-to-know.list li {
  display: flex;
  align-items: center;
  border-top: 3px solid rgba(0, 0, 0, 0.16);
}
@media screen and (max-width: 767px) {
  ul.need-to-know.list li {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 768px) {
  ul.need-to-know.list li {
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
  }
}
ul.need-to-know.list li .link {
  color: #018667 !important;
  margin-left: 10px;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
}
ul.need-to-know.list li .link:hover {
  color: #F3755B !important;
  cursor: pointer;
}
ul.need-to-know.list li p {
  margin-top: 5px;
}
@media screen and (max-width: 767px) {
  ul.need-to-know.list li p {
    margin-top: 20px;
  }
}
ul.need-to-know.list li p a {
  color: #018667 !important;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
}
ul.need-to-know.list li p a:hover {
  color: #F3755B !important;
}
ul.need-to-know.list li img {
  width: 100%;
  float: none;
}
@media screen and (max-width: 767px) {
  ul.need-to-know.list li img {
    margin-top: 0;
    margin-bottom: 25px;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  ul.need-to-know.list li img {
    float: right;
    min-width: 250px;
    width: 250px;
    max-width: 250px;
    padding: 10px 0 10px 10px;
  }
}
ul.need-to-know.list li ul.sublist {
  display: inline;
}
ul.need-to-know.list li ul.sublist li {
  border: 0;
}
@media screen and (max-width: 767px) {
  ul.need-to-know.list li ul.sublist li {
    margin-left: 0;
    padding-left: 0;
  }
}
ul.need-to-know.list li ul.sublist li:first-of-type {
  margin-top: -20px;
}
@media screen and (max-width: 767px) {
  ul.need-to-know.list li ul.sublist li:first-of-type {
    margin-top: -40px;
  }
}
ul.need-to-know.list .listImgStyle {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  align-items: center;
}
@media screen and (max-width: 767px) {
  ul.need-to-know.list .listImgStyle {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  ul.need-to-know.list .listImgStyle {
    flex-direction: row;
  }
}

div#modal-overlay {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: rgba(51, 51, 51, 0.05);
}

section#acorns-store-icon,
section#robinhood-store-icon {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  width: 350px;
  background-color: white;
  padding: 35px 20px 20px 20px;
  border-radius: 30px;
}
section#acorns-store-icon div.close,
section#robinhood-store-icon div.close {
  float: right;
  margin-top: -20px;
  color: rgba(0, 0, 0, 0.6);
}
section#acorns-store-icon div.close:hover,
section#robinhood-store-icon div.close:hover {
  cursor: pointer;
  color: #F3755B;
  transform: scale(1.1);
}
section#acorns-store-icon h5,
section#robinhood-store-icon h5 {
  margin-left: 0;
  font-size: 1.25rem !important;
}
@media screen and (min-width: 768px) {
  section#acorns-store-icon h5,
section#robinhood-store-icon h5 {
    margin-left: 15px;
  }
}
section#acorns-store-icon div.apps,
section#robinhood-store-icon div.apps {
  display: flex;
  justify-content: space-around;
}
section#acorns-store-icon section.img-container,
section#robinhood-store-icon section.img-container {
  height: 90px;
}
section#acorns-store-icon section.img-container img.app-icons,
section#robinhood-store-icon section.img-container img.app-icons {
  margin: auto;
  width: 80px;
}
section#acorns-store-icon a i.fab,
section#robinhood-store-icon a i.fab {
  font-size: 3rem;
}
section#acorns-store-icon a i.fab.fa-apple,
section#robinhood-store-icon a i.fab.fa-apple {
  padding: 10px;
}
section#acorns-store-icon a i.fab.fa-google-play,
section#robinhood-store-icon a i.fab.fa-google-play {
  padding: 10px;
}
section#acorns-store-icon a:hover,
section#robinhood-store-icon a:hover {
  cursor: pointer;
}
section#acorns-store-icon a:hover i.fab,
section#robinhood-store-icon a:hover i.fab {
  transform: scale(1.2);
}
section#acorns-store-icon a:hover span,
section#robinhood-store-icon a:hover span {
  text-decoration: underline;
}
