main#step2-page {
  background-color: #FCFCFC;
}

#step2-page {
  justify-content: flex-start !important;
}
#step2-page #step2-question {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
  max-width: 630px;
  height: 129px;
  border-radius: 100%;
  z-index: 30;
  margin-left: 0 !important;
  margin-top: 15px;
}
@media screen and (max-width: 767px) {
  #step2-page #step2-question {
    margin-top: 5px;
    max-width: 345px;
    height: 100px;
    border-radius: 100px !important;
    justify-content: center;
  }
  #step2-page #step2-question div {
    display: none !important;
  }
}
#step2-page #step2-question div {
  background-color: #F5F5F8;
  display: inline-block;
}
#step2-page #step2-question .right,
#step2-page #step2-question .left {
  height: 129px;
  width: 64.5px;
}
#step2-page #step2-question .right {
  border-bottom-right-radius: 129px;
  border-top-right-radius: 129px;
  margin-right: -70px;
  box-shadow: 14px 0 20px rgba(0, 0, 0, 0.14);
}
#step2-page #step2-question .left {
  border-bottom-left-radius: 129px;
  border-top-left-radius: 129px;
  margin-left: -70px;
  box-shadow: -14px 0 20px rgba(0, 0, 0, 0.14);
}
#step2-page #step2-question p {
  margin-top: 5px;
}
@media screen and (min-width: 768px) {
  #step2-page #timeout {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  #step2-page #timeout {
    background-color: rgba(255, 255, 255, 0.01);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1500;
    top: 0;
    left: 0;
  }
}
#step2-page ul.options-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  padding-left: 0;
  margin-top: 0;
}
#step2-page ul.options-list li {
  width: 141px;
  height: 330px;
  z-index: 0;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
  list-style-type: none;
  list-indent: none;
  margin: -20px 30px 0 30px;
  padding: 30px 8px 10px 8px;
  line-height: 1.35rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  #step2-page ul.options-list li .option-link {
    margin-top: 15px;
  }
}
#step2-page ul.options-list li:hover {
  transform: translate(0, 18px);
  transition: transform 0.15s linear;
  cursor: pointer;
}
#step2-page ul.options-list li#passive-option {
  background-color: #5DD4CF;
}
#step2-page ul.options-list li#passive-option div.bottom-2 {
  transform: translate(-8px, 95px);
  background-color: #7FE6E2;
}
@media screen and (max-width: 767px) {
  #step2-page ul.options-list li#passive-option {
    margin: -20px 15px 0 15px;
    top: 250px;
    width: 340px;
    height: 90px;
    position: absolute;
    margin: 0 auto;
    border-radius: 50px;
    display: flex;
    align-items: center;
    align-content: center;
  }
  #step2-page ul.options-list li#passive-option .more-descr {
    display: none;
  }
  #step2-page ul.options-list li#passive-option div.bottom-2 {
    display: none;
  }
  #step2-page ul.options-list li#passive-option .mobile-arrow {
    display: inline;
    padding-left: 6px;
  }
  #step2-page ul.options-list li#passive-option:hover {
    transform: scale(1.1);
  }
}
#step2-page ul.options-list li#both-option {
  background-color: #A2D039;
  height: 100px;
}
#step2-page ul.options-list li#both-option .mobile-arrow {
  display: none;
}
#step2-page ul.options-list li#both-option div.bottom-2 {
  transform: translate(-47px, 28px);
  background-color: #C5E282;
}
@media screen and (max-width: 767px) {
  #step2-page ul.options-list li#both-option {
    position: absolute;
    margin: 0 auto;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding-top: 6px;
    top: 470px;
    width: 340px;
    height: 90px;
  }
  #step2-page ul.options-list li#both-option div.bottom-2 {
    display: none;
  }
  #step2-page ul.options-list li#both-option i.mobile-arrow {
    display: none !important;
  }
  #step2-page ul.options-list li#both-option .mobile-arrow {
    display: inline;
    padding-left: 6px;
  }
  #step2-page ul.options-list li#both-option:hover {
    transform: scale(1.1);
  }
}
#step2-page ul.options-list li#active-option {
  background-color: #FAD551;
}
#step2-page ul.options-list li#active-option div.bottom-2 {
  transform: translate(-8px, 49px);
  background-color: #FAE495;
}
@media screen and (max-width: 767px) {
  #step2-page ul.options-list li#active-option {
    margin: -20px 15px 0 15px;
    width: 340px;
    height: 90px;
    position: absolute;
    margin: 0 auto;
    border-radius: 50px;
    display: flex;
    align-items: center;
    align-content: center;
    top: 360px;
  }
  #step2-page ul.options-list li#active-option .more-descr {
    display: none;
  }
  #step2-page ul.options-list li#active-option .mobile-arrow {
    display: none;
  }
  #step2-page ul.options-list li#active-option div.bottom-2 {
    display: none;
  }
  #step2-page ul.options-list li#active-option .mobile-arrow {
    display: inline;
    padding-left: 6px;
  }
  #step2-page ul.options-list li#active-option:hover {
    transform: scale(1.1);
  }
}
#step2-page ul.options-list li div.bottom-2 {
  background: #71B176;
  position: absolute;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
  height: 70.5px;
  width: 141px;
  border-bottom-left-radius: 141px;
  border-bottom-right-radius: 141px;
  display: flex;
  justify-content: center;
  align-items: center;
}
