section#acorns-store-icon,
section#robinhood-store-icon {
    box-shadow:$x8Shadow;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index:50;
    width:350px;
    background-color:rgba(255,255,255,1);
    padding:35px 20px 20px 20px;
    border-radius:30px;
    div.close {
        float:right;
        margin-top:-20px;
        color:rgba(0,0,0,0.6);
        &:hover {
            cursor:pointer;
            color:$hvrLinkOrange;
            transform:scale(1.1)
        }
    }
    h5 {
        margin-left:15px;
        font-size:1.25rem !important;
    }
    div.apps {
        display:flex;
        justify-content:space-around;
    }
    section.img-container {
        img.app-icons {
            margin:auto;
            width:80px;
        }
    }
    a {
        i.fab {
            font-size:3rem;
            &.fa-apple {
                color:$hvrLinkGreen;
                padding:10px;
            }
            &.fa-google-play {
                color:$hvrTqGreen;
                padding:10px;
            }
        }
        &:hover {
            cursor:pointer;
            i.fab {
                color:$hvrLinkOrange;
                transform:scale(1.2);
            }
            span {
                text-decoration:underline;
            }
        }
    }
}