div#root {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size:1.125rem;
  line-height:1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $offWhite3;
  min-height:100vh;
  position:relative;
  section#app {
    max-width:1024px;
    margin:0 auto;
    overflow-y:auto;
    overflow-x:hidden;
    min-height:100vh;
    position:relative;
    display:flex;
    flex-direction:column;
    h1 {
      font-size:2rem;
      font-weight:700 !important;
      color: $textBlack;
      @media screen and (min-width:768px) {
        text-align:left;
      }
      @media screen and (max-width:767px) {
        text-align:center;
      }
    }
    h2 {
      color: $textWhite;
      font-size: 1.5rem;
      &.page-title {
        text-align: center;
      }
    }
    h3, h4, h5, h6 {
      color: $textBlack;
      font-weight:700;
    }
    h3 {
      font-size:1.375rem;
    }
    h4 {
      font-size:1.25rem;
    }
    h5, h6 {
      font-size:1.15rem;
      @media screen and (max-width:767px) {
        margin-top:8px;
      }
    }

    a:link, a {
      color: $textBlack;
      &:focus, &:hover, &:visited, &:link, &:active {
        text-decoration:none;
      }
    }

    .text-center {
      text-align:center;
    }
    .fw-semibold {
      font-weight:500;
    }
    .fw-medium {
      font-weight:600;
    }
    .fw-bold {
      font-weight:700;
    }
    .xs {
      font-size:80%;
    }
    .hide-on-desktop {
      @media screen and (max-width:767px) {
        display:block;
      }
      @media screen and (min-width:768px) {
        display:none;
      }
    }
    .hide-on-mobile {
      @media screen and (max-width:767px) {
        display:none;
      }
      @media screen and (min-width:768px) {
        display:block;
      }
    }
    section.top {
      @media screen and (min-width:768px) {
        display:flex;
        flex-direction:row;
        justify-content:space-between;
      }
    }

    code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    }

    main {
      padding-top:20px;
      flex-grow:2;
    }
    // passive, active and all investing pages
    main.content-page {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      section.content-container {
        border-radius:20px;
        background-color:$darken;
        margin-left:34px;
        margin-right:34px;
        width:90%;
        @media screen and (max-width:400px) {
          max-width:350px;
        }
        @media screen and (max-width:767px) {
          padding:16px;
        }
        @media screen and (min-width:768px) {
          padding:20px 24px;
          // max-width: 635px;
        }
        @media screen and (min-width:1024px) {
          width:748px;
        }
        &.all-container {
          border-color: $bgMdGreen;
        }
        &.active-container {
          border-color: $bgGold;
        }
        &.passive-container {
          border-color: $bgTqGreen;
        }
      }
      .component-content {
        background-color:$offWhite;
        border-radius: 20px;
        width:100%;
        box-shadow: $x8Shadow;
        padding:24px;
        @media screen and (max-width:767px) {
          padding:6px;
        }
      }
      .page-description {
        color: $textBlack;
        padding:0 20px;
        margin-top:-5px;
        text-align:center;
        max-width:748px;
      }
      #toggle-mobile-apps,
      #toggle-needtoknow,
      #needtoknow-header, {
        &:hover {
          cursor:pointer;
        }
      }
    }
  }
}



