div#root {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size:1.125rem;
  line-height:1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $windowBg;
  min-height:100vh;
  position:relative;
  section#app {
    max-width:1200px;
    margin:0 auto;
    background-color: $mainBg;
    min-height:100vh;
    position:relative;

    h3.subtitle {
      color: $textWhite;
      font-size:1.5rem;
      text-align:center;
      margin-top:-20px;
      margin-bottom:15px;
      text-shadow: $x4Shadow;
    }

    a:link, a {
      color: $textBlack;
      &:focus, &:hover, &:visited, &:link, &:active {
        text-decoration:none;
      }
    }

    .fw-semibold {
      font-weight:500;
    }
    .fw-medium {
      font-weight:600;
    }

    code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    }
  }
}



