article.component-content.mobile-app {
    // mixin for mobile app dropdown elements
    @mixin mobile-app-dropdown {
        background-color: $fullTurq;
        padding:16px 0 0 0;
        border-radius: 0 0 20px 20px;
        position:relative;
        z-index:1;
        box-shadow:$x8Shadow;
    }
    @mixin expanding {
        height:48px;
        border-radius: 0 0 20px 20px;
        background-color: $lightTurq;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    //

    margin:auto;
    @media screen and (max-width:767px) {
        height:250px;
    }
    .img-container {
        display:flex;
        .img-holder {
            border-radius:30px;
            box-shadow: $x4Shadow;
            width:109px;
            height:109px;
            img.app-icons {
                width:109px;
                height:109px;
                &:hover {
                    cursor:pointer;
                }
            }
        }
        @media screen and (max-width:767px) {
            justify-content:center;
        }
        @media screen and (min-width:768px) {
            justify-content:flex-start;
            padding:0;
        }
        
    }
    .about-mobile-app {
        margin:0;
        padding:0;
        .mobile-app-title {
            @media screen and (max-width:767px) {
                span.type::after {
                    content: '\a';
                    white-space:pre;
                }
            }
            &:hover {
                cursor:pointer;
            }
        }
        &.dropdown-start {
            @media screen and (max-width:767px) {
                @include mobile-app-dropdown;
                margin: 18px auto 0 auto;
                max-width:200px;
                &.opened {
                    height:340px;
                    .expand {
                        margin-top:-15px;
                    }
                }
                .mobile-app-descr.closed {
                    display:none;
                }
                .mobile-app-descr.opened {
                    display:block;
                    padding:0 10px;
                    div.cost {
                        padding:10px 5px;
                        div.get-app {
                            display:block;
                            // margin-top:-2px;
                            span.hide-xs {
                                display:none;
                            }
                        }
                    }
                }
                .expand {
                    @include expanding;
                    margin-top:19px;
                    max-width:200px;
                    &:hover {
                        cursor:pointer;
                    }
                }
            }
        }
        @media screen and (max-width:767px) {
            justify-content:center;
            text-align:center;
            .mobile-app-descr {
                &.dropdown-start {
                    @include mobile-app-dropdown;
                    margin: 18px auto 0 auto;
                    padding:16px 16px 16px 16px;
                    max-width:200px;
                    height:160px;
                }
            }
            .mobile-app-descr.dropdown-start > .expand {
                @include expanding;
                margin-top:0;
                max-width:200px;
                z-index:3;
            }
        }
        // desktop size dropdown menu
        @media screen and (min-width: 768px) {
            .mobile-app-descr {
                @include mobile-app-dropdown;
                padding:16px 16px;
                max-width: 481px;
                margin-top:2px;
                height:124px;
            }
            .expand {
                @include expanding;
                max-width:481px;
                margin-top:-49px;
                position:relative;
                // display:block;
                z-index:5;
                &:hover {
                    cursor:pointer;
                }
            }
        }
    }
    @media screen and (min-width: 768px) {
        height:164px !important;
    }
    div.price {
        font-size:1rem;
        text-align:center;
        @media screen and (min-width: 768px) {
            margin:15px -15px 0 -15px;
        }
        @media screen and (max-width: 767px) {
            margin:8px -10px;
        }
        padding:5px;
        background-color:rgba(255,255,255,0.16);
        div.cost {
            padding:10px 0;
        }
    }
    div.get-app {
        text-align:center;
        padding:10px;
        @media screen and (max-width: 767px) {
            margin:10px 0 0 0;
        }
        @media screen and (min-width: 768px) {
            margin:15px 0 0 0;
        }
        
        span {
            color:#065241;
            font-size:1.125rem;
            &:hover {
                cursor:pointer;
                color:white;
                span {
                    color:white;
                }
                
            }
        }
    }
}
