ul.need-to-know.list {
    list-style-type:none;
    padding-left:0;
    li {
        display:flex;
        @media screen and (max-width:767px) {
            flex-direction:column;
            padding-left:0;
            padding-right:0;
        }
        @media screen and (min-width:768px) {
            flex-direction:row;
            padding-left:10px;
            padding-right:10px;
        }
        align-items:center;
        border-top: 3px solid rgba(0,0,0,0.16);
        
        p {
            @media screen and (max-width:767px) {
                margin-top:20px;
            }
            margin-top:5px;
            a.link {
                color:$hvrLinkGreen !important;
                margin-left:10px;
                font-weight:500;
                text-shadow:$linkShadow;
                &:hover {
                    color:$hvrLinkOrange !important;
                }
            }
            a {
                color:$hvrLinkGreen !important;
                font-weight:500;
                text-shadow:$linkShadow;
                &:hover {
                    color:$hvrLinkOrange !important;
                }
            }
        }
        img {
            @media screen and (max-width:767px) {
                margin-top:0;
                margin-bottom:25px;
                padding:0;
            }
            @media screen and (min-width:768px) {
                float:right;
                // min and max specified for firefox
                min-width:250px;
                width:250px;
                max-width:250px;
                padding:10px 0 10px 10px;
            }
            width:100%;
            float:none;
            
        }
        ul.sublist {
            display:inline;
            li {
                border:0;
                @media screen and (max-width:767px) {
                    margin-left:0;
                    padding-left:0;
                }
            }
            li:first-of-type {
                margin-top:-20px;
                @media screen and (max-width:767px) {
                    margin-top:-40px;
                }
            }
        }
    }
    .listImgStyle {
        display:flex;
        padding-left:0;
        padding-right:0;
        @media screen and (max-width:767px) {
            flex-direction:column;
        }
        @media screen and (min-width:768px) {
            flex-direction:row;
        }
        align-items:center;
    }
}