// main colors
$mainBg: #554C58;
$windowBg: #333333;
$subMainBg: #847C88;

$bgGrey: #CAC4CE;
$bgSecondaryGrey: #CCC;
$bgMdGreen: #92B96A;
$bgGold: #C59139;
$bgTqGreen: #53AA81;
$bgWhite:#FFF;

$bgSecondGreen: #71B176;

$footerBg: #333333;

// gradient bgs
$gradientTq: linear-gradient(329deg, #50A862 0%, #52B788 100%);
$gradientGreen: linear-gradient(329deg, #92B96A 5%, #B7AB52 100%);
$gradientOrange: linear-gradient(329deg, #AA7A2E 30%, #C59139 100%);

// hover colors
$hvrMdGreen: #85B752;
$hvrTqGreen: #52B788;
$hvrGold: #F6AE2D;
$hvrLinkGreen: #018667;
$hvrLinkOrange: #F3755B;

//expander colors
$expMdGreen: rgba(133,183,82,0.7);
$expSolidGreen: #75B45B;

// typography
$textWhite: #F7F7F2;
$textBlack: #333;


// other effects
$y8Shadow: 8px -8px 8px rgba(0,0,0,0.16);
$x8Shadow: 8px 8px 8px rgba(0,0,0,0.16);
$x4Shadow: 4px 4px 4px rgba(0,0,0,0.16);
$mobileDropShadow: 0 10px 20px rgba(0,0,0,0.16);
$topDropShadow: 0 -10px 20px rgba(0,0,0,0.16);
$bottomDropShadow: 0 10px 20px rgba(0,0,0,0.14);
$leftDropShadow: -14px 0 20px rgba(0,0,0,0.14);
$rightDropShadow: 14px 0 20px rgba(0,0,0,0.14);
$iconDropShadow: 0 0 20px rgba(0,0,0,0.2);
$componentDropShadow: 0 0 32px rgba(0,0,0,0.2);
$pageDropShadow: 0 0 40px rgba(0,0,0,0.05);
$linkShadow: 1px 1px 2px rgba(255,255,255,0.5);

// new colorblock colors
$fullTurq: #39D08A;
$lightTurq: #67E6AC;
$fullYellow: #FAD551;
$lightYellow: #FAE495;
$fullBlue: #5DD4CF;
$lightBlue: #7FE6E2;
$fullGreen: #A2D039;
$lightGreen: #C5E282;
$offWhite: #F5F5F8;
$offWhite2: #FCFCFC;
$offWhite3: #F7F7F7;
$offWhite4:#DDDDDD;
$darken: rgba(51,51,51,0.05);
$bgColor: $fullTurq;


