// main colors
$mainBg: #554C58;
$windowBg: #333333;
$subMainBg: #847C88;

$bgGrey: #CAC4CE;
$bgSecondaryGrey: #CCC;
$bgMdGreen: #92B96A;
$bgGold: #C59139;
$bgTqGreen: #53AA81;

$bgSecondGreen: #71B176;

$footerBg: #7B7283;

// gradient bgs
$gradientTq: linear-gradient(329deg, #50A862 0%, #52B788 100%);
$gradientGreen: linear-gradient(329deg, #92B96A 5%, #B7AB52 100%);
$gradientOrange: linear-gradient(329deg, #AA7A2E 30%, #C59139 100%);

// hover colors
$hvrMdGreen: #85B752;
$hvrTqGreen: #52B788;
$hvrGold: #F6AE2D;

//expander colors
$expMdGreen: rgba(133,183,82,0.7);

// typography
$textWhite: #F7F7F2;
$textBlack: #000;


// other effects
$y8Shadow: 8px -8px 8px rgba(0,0,0,0.16);
$x8Shadow: 8px 8px 8px rgba(0,0,0,0.16);
$x4Shadow: 4px 4px 4px rgba(0,0,0,0.16);