@import 'variables';

nav.footer {
    position:absolute;
    width:100%;
    max-width:1200px;
    bottom:0;
    footer {
        background-color: $footerBg;
        box-shadow: $y8Shadow;
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        min-height:88px;
        max-width:1200px;
        margin-right:0 !important;
        margin-left:0 !important;
        section.footer-nav {
            display:flex;
            flex-direction: column;
            justify-content:center;
            font-size:1rem;
            margin-top:20px;
            i {
                font-size:1.75rem;
            }
            p.footer-nav-link{
                &:hover {
                    color:$hvrGold !important;
                }
            }
        }
        #footer-home {
            text-align:left;
        }
        #footer-melp {
            text-align:center;
            a:hover {
                color:$hvrGold !important;
            }
            @media screen and (max-width:400px) {
                font-size:0.975rem;
            }
            @media screen and (max-width:374px) {
                font-size:0.875rem;
                line-height:1rem;
            }
        }
        #footer-all {
            text-align:right;
            &:hover {
                color:$hvrGold !important;
            }
        }
    }
}