nav.footer {
    position:absolute;
    width:100%;
    max-width:1200px;
    bottom:0;
    footer {
        background-color:#7B7283;
        box-shadow: 8px -8px 8px rgba(0,0,0,0.16);
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        min-height:88px;
        max-width:1200px;
        margin-right:0 !important;
        margin-left:0 !important;
        section.footer-nav {
            display:flex;
            flex-direction: column;
            justify-content:center;
            font-size:1rem;
            i {
                font-size:1.75rem;
            }
        }
        #footer-home {
            text-align:left;
        }
        #footer-melp {
            text-align:center;
            @media screen and (max-width:400px) {
                font-size:0.975rem;
            }
            @media screen and (max-width:374px) {
                font-size:0.875rem;
                line-height:1rem;
            }
        }
        #footer-all {
            text-align:right;
        }
    }
}