@import 'variables';

@import 'variables';

main#page {
    background-color: $fullTurq;
    margin:0;
    padding:0;
    height:inherit;
    width:100%;
}

article.why-invest {
    /* z-index:10;
    display:relative; */
    Figure {
        position:relative;
        z-index:10;
        margin: auto;
        display: flex;
        border-radius: 20px;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 334px;
        height: 199px;
        background-color: $offWhite4;
        box-shadow: $componentDropShadow;
        @media screen and (max-width:374px) {
            width: 270px;
            height:130px;
        }
         @media screen and (min-width:768px) {
            position:absolute;
            margin:auto;
            left:0;
            right:0;
            top:250px;
            width: 452px;
            height: 305px;
            @media screen and (max-width:1023px) {
                width: 350px;
                height: 235px;
            }
        }
    }
}

ul.options-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-left: 0;
    li {
        width: 141px;
        height:255px;
        @media screen and (max-height:667px) {
            height:215px;
        }
        z-index:0;
        background-color: $offWhite;
        box-shadow: $componentDropShadow;
        list-style-type: none;
        list-indent: none;
        margin: -25px 15px 20px 15px;
        padding: 20px;
        text-align: center;
        display:flex;
        justify-content:center;
        align-items:center;
        &:hover {
            transform: translateY(15px);
            transition: transform 200ms ease-in-out;
            cursor:pointer;
            > div.circle {
                transform: translateY(0) !important;
                transition:none 0 linear 0 !important;
                position:absolute !important;
                top:-138px !important;
            }
            > div.bottom {
                background-color: $fullYellow;
            }
        }
        p {
            margin-top:25px;
        }
        // the half circles
        $size: 70.5px;
        div.bottom {
            background: $fullYellow;
            position: absolute;
            transform: translate(0,159px);
            -webkit-transform: translate(0,159px);
            -moz-transform: translate(0,159px);
            @media screen and (max-height:667px) {
                transform: translate(0,140px);
                -webkit-transform: translate(0,140px);
                -moz-transform: translate(0,140px);
            }
            box-shadow: $mobileDropShadow;
            height: $size;
            width: $size * 2;
            border-bottom-left-radius: $size * 2;
            border-bottom-right-radius: $size * 2;
            display:flex;
            justify-content:center;
            align-items:center;
            span {
                margin-top:-8px;
            }
        }
    }
    div.circle {
        display:none;
    }
    @media screen and (min-width:768px) {
        div.circle {
            display: block;
            z-index:11;
            width:173px;
            height:173px;
            position:absolute;
            top:158px;
            background-color: $offWhite;
            border: 4px solid $offWhite2;
            border-radius: 50%;
            box-shadow:$componentDropShadow;
            div.sec-hand {
                height:62px;
                width:5px;
                background-color:#9D95A2;
            }
            div.min-hand {
                height:44px;
                width:5px;
                background-color:#707070;
            }
            &.clock-left {
                div.triangle-1 {
                    height: 0; 
                    width: 0;
                    border-top: 94px solid $fullYellow;
                    border-left: 47px solid transparent; 
                    border-right: 47px solid transparent; 
                    clip-path: polygon(50% 0%, 44% 99%, 69% 4%);
                    transform:translate(35px,0);
                }
                div.sec-hand {
                    transform:translate(77px,-71px) rotate(2deg);
                }
                div.min-hand {
                    transform:translate(82px,-115px) rotate(14deg);
                }
            }
            &.clock-right {
                div.triangle-1 {
                    height: 0; 
                    width: 0;
                    border-top: 94px solid $fullYellow;
                    border-left: 47px solid transparent; 
                    border-right: 47px solid transparent; 
                    clip-path: polygon(50% 0%, 44% 99%, 85% 8%);
                    transform:translate(35px,0);
                }
                div.triangle-2 {
                    height: 0; 
                    width: 0;
                    border-top: 94px solid $lightYellow;
                    border-left: 47px solid transparent; 
                    border-right: 47px solid transparent; 
                    clip-path: polygon(50% 0%, 44% 99%, 85% 8%);
                    transform:translate(50px,-90px) rotate(20deg);
                }
                div.sec-hand {
                    transform:translate(77px,-165px) rotate(2deg);
                }
                div.min-hand {
                    transform:translate(92px,-202px) rotate(50deg);
                }
            }
        }
        margin-top:178px;
        div.circle:first-of-type {
            left:55px;
            @media screen and (max-width:1023px) {
                left:auto;
                margin-left:-575px;
            }
        }
        div.circle:last-of-type {
            right:55px;
            @media screen and (max-width:1023px) {
                right:auto;
                margin-right:-575px;
            }
        }
        li:first-of-type {
            margin-right:300px;
            @media screen and (max-width:1023px) {
                margin-right:220px;
            }
        }
        li:last-of-type {
            margin-left:300px;
            @media screen and (max-width:1023px) {
                margin-left:220px;
            }
        }
    }
}