nav.navigation {
    @media screen and (max-width:767px) {
        padding:0;
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        section.nav {
            padding:10px;
            &:hover,
            &:active,
            &.active-nav {
                border-bottom:8px solid #FFF;
                .nav-link { 
                    margin-bottom:-8px;
                }
            }
            .nav-link {
                padding:20px;
                width:100px;
                text-align:center;
            }
            #nav-all {
                padding-right:0;
            }
        }
    }
    @media screen and (min-width:768px) {
        padding:0;
        section.nav {
            padding:10px;
            &:hover,
            &:active,
            &.active-nav {
                border-top:8px solid #FFF;
                .nav-link { 
                    margin-top:-8px;
                }
            }
            .nav-link {
                padding:20px;
                width:120px;
                text-align:center;
                @media screen and (max-width:810px) {
                    width:100px;
                }
            }
            #nav-all {
                padding-right:0;
            }
        }
    }
}