@import 'variables';

#step2-page {
    #step2-question {
        display:flex;
        flex-direction:row;
        align-content:center;
        align-items:center;
        justify-content:space-between;
        max-width:630px;
        height:129px;
        border-radius:100%;
        z-index:30;
        @media screen and (max-width:400px) {
            max-width:345px;
        }
        $size: 64.5px;
        div {
        background-color:$bgGrey;
        display: inline-block;
        }
        .right,
        .left {
        height: $size * 2;
        width: $size;
        }
        .right {
            border-bottom-right-radius: $size * 2;
            border-top-right-radius: $size * 2;
            margin-right:-70px;
        }
        .left {
            border-bottom-left-radius: $size * 2;
            border-top-left-radius: $size * 2;
            margin-left:-70px;
        }
    }

    ul.options-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: flex-start;
        padding-left: 0;
        li {
            width: 141px;
            height:330px;
            @media screen and (max-height:667px) {
                height:215px;
            }   
            z-index:0;
            box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
            list-style-type: none;
            list-indent: none;
            margin: -20px 30px 0 30px;
            padding: 30px 8px 10px 8px;
            line-height:1.35rem;
            text-align: center;
            display:flex;
            justify-content:center;
            align-items:flex-start;
            &:hover {
                transform: translate(0,18px);
                transition:0.15s linear;
                cursor:pointer;
            }
            &#passive-option {
                background-color: $bgTqGreen;
                background: $gradientTq;
                div.bottom-2 {
                    transform: translate(-8px,62px);
                    background-color:$hvrTqGreen;
                }
            }
            &#both-option {
                background-color: $bgMdGreen;
                background: $gradientGreen;
                height:100px;
                div.bottom-2 {
                    transform: translate(-8px,25px);
                    background-color: $bgMdGreen;
                }
            }
            &#active-option {
                background-color: $bgGold;
                background: $gradientOrange;
                div.bottom-2 {
                    transform: translate(-8px,19px);
                    background-color:$bgGold;
                }
            }

            // the half circles
            $size: 70.5px;
            div.bottom-2 {
                background: $bgSecondGreen;
                position: absolute;

                // @media screen and (max-height:667px) {
                //     transform: translate(0,140px);
                //     -webkit-transform: translate(0,140px);
                //     -moz-transform: translate(0,140px);
                // }
                box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
                height: $size;
                width: $size * 2;
                border-bottom-left-radius: $size * 2;
                border-bottom-right-radius: $size * 2;
                display:flex;
                justify-content:center;
                align-items:center;
            }
        }
    }
}
