header#mysavei-title {
    @media screen and (max-width:767px) {
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    @media screen and (min-width:768px) {
        padding-left:35px;
    }
    .title-dot {
        height: 9px;
        width: 9px;
        background-color: #FFF;
        border-radius: 50%;
        display: block;
        position:absolute;
        top:18px;
        @media screen and (min-width:768px) {
            transform: translate(113px,0) translateZ(0);
            -webkit-transform: translate(113px,0) translateZ(0);
            -moz-transform: translate(113px,0) translateZ(0);
        }
        @media screen and (max-width:767px) {
            transform: translate(57px,0) translateZ(0);
            -webkit-transform: translate(57px,0) translateZ(0);
            -moz-transform: translate(57px,0) translateZ(0);
        }
        z-index:5;
    }
    h1 {
        padding-bottom: 1rem;
        padding-top:1rem;
    }
    h2 {
      margin-bottom:15px;
      margin-top:-20px;
    }
}
